<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tập pha chế</title>
  <link rel="shortcut icon" href="/image/tea.png">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/js/script_btnSuccess.js"></script>
</head>

<body>
  <div class="containerpage wrapper">
    <div id="top">
      <div class="d-flex justify-content-center">
        <span id="nameProduct"></span>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalSelect" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalSelectLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalSelectLabel">Menu <img src="/image/tea.png" alt="tea"></h5>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
              <% moreName.forEach(name_product=> { %>
                <button type="button" class="btn btn-primary" id="<%=name_product.name%>"
                  onclick="name_product(this.id);" data-bs-dismiss="modal"
                  style="margin: 15px; width: 220px; height: 80px;">
                  <%=name_product.name%>
                </button>
                <% }) %>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div id="menubar">
        <ul id="menulist">
          <li class="menufirst">Thành phần</li>
          <li class="menuitem" id="milk" onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Sữa</li>
          <li class="menuitem" id="milk_powder" onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Sữa bột</li>
          <li class="menuitem" id="sugar" onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Đường</li>
          <div class="dropend">
            <li class="menuitem" data-bs-toggle="dropdown" aria-expanded="false">More</li>
            <ul class="dropdown-menu">
              <% moreName.forEach(name=> { %>
                <li class="dropdown-item" id="<%=name.more.more_name%>"
                  onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
                  <%=name.more.more_name%>
                </li>
                <% }) %>
            </ul>
          </div>
          <li class="menuitem" id="hot_water" onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Nước nóng</li>
          <li class="menuitem" id="tea" onclick="reply_click(this.id); check_src_image()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Trà</li>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p id="modal-name">Chọn dung tích <span id="ele_name"></span></p>
                  <!-- <input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);">
                  <input type="text" id="textInput" value=""> -->
                  <!-- <label for="customRange1" class="form-label">Example range</label> -->
                  <input type="range" class="form-range" id="customRange1" min="0" max="250" value="0" step="5">
                  <p>Value: <span id="showvalue"></span> <span id="capacity"></span></p>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                  <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="addboard(document.getElementById('ele_name').textContent)">Ok</button> -->
                  <li class="btn btn-primary" data-bs-dismiss="modal" onclick="addboard()">OK</li>
                </div>
              </div>
            </div>
          </div>

        </ul>
      </div>
      <div id="main">
        <div id="cuptype">
          <ul id="listcups">
            <!-- <li class="cup" id="btnM" onclick="change_cup(0)">Size M: 500ml</li>
            <li class="cup" id="btnL" onclick="change_cup(1)">Size L: 700ml
            </li> -->
            <button class="cup" id="btnM" onclick="change_cup(0)">Size M: 500ml</button>
            <button class="cup" id="btnL" onclick="change_cup(1)">Size L: 700ml</button>
          </ul>
        </div>
        <div id="board">
          <img id="myCup" width="45%" height="80%">
        </div>
        <img src="image/demo.gif" alt="demo">
        <p>Learn how to create a draggable HTML element with JavaScript and CSS.Learn how to create a draggable HTML
          element with JavaScript and CSS.Learn how to create a draggable HTML element with JavaScript and CSS.</p>
      </div>
      <div id="sidebar">
        <h3>Thông tin</h3>
        <div id="ele_selected"></div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success" id="btnSuccess" style="margin-top: 50px;"
            onclick="click_success()">Success</button>
        </div>
      </div>
    </div>
    <div id="bottom">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
      dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalResult" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalResultLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalResultLabel">Conclusion</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <p>Bạn đã hoàn thành: <span id="correct_percent"></span> %</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/script_tutorial.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
  <script>
    var slider = document.getElementById('customRange1');
    var output = document.getElementById('showvalue');
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    }
  </script>
  <!-- <% var count_field=0; %>
  <% for (var item in result[0]) { %>
    <% count_field++; %>
  <% } %> -->
  <script>
    function click_success() {
      const nameprod = document.getElementById('nameProduct').textContent;
      const sizeM = document.getElementById('btnM').disabled;
      const sizeL = document.getElementById('btnL').disabled;
      const spans = document.getElementById('ele_selected').getElementsByTagName('span');
      const ps = document.getElementById('ele_selected').getElementsByTagName('p');
      var arr_data = [];
      var correct_name = [];
      var indexDoc = '<%=countDoc%>';
      var count_field = parseInt('<%=count_field%>') - 5;
      let mark = 0;
      if (sizeM == sizeL) {
        alert('Hoàn thành bài đi bạn êii :)');
      } else {
        // <% for(var i=0; i<countDoc; i++) {%>
        if (nameprod == '<%=result[i].name%>') {
          if (sizeM) {
            for (let i = 0; i < spans.length; i++) {
              if (spans[i].textContent == 'Sữa') {
                arr_data.push('<%=result[i].milk.milk_size_m%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Sữa bột') {
                arr_data.push('<%=result[i].milk_powder.milk_powder_size_m%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Đường') {
                arr_data.push('<%=result[i].sugar.sugar_size_m%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == '<%=result[i].more.more_name%>') {
                arr_data.push('<%=result[i].more.more_size_m%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Nước nóng') {
                arr_data.push('<%=result[i].hot_water.hot_water_size_m%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Trà') {
                arr_data.push('<%=result[i].tea.tea_size_m%>');
                correct_name.push(spans[i].textContent);
              }
            }
            for (let i = 0; i < count_field; i++) {
              if ((i < ps.length) && (arr_data[i] == ps[i].textContent)) {
                mark++;
              }
            }
            if (confirm('Are you sure to check?')) {
              resultFunc(correct_name, mark, count_field);
            }
          } else {
            for (let i = 0; i < spans.length; i++) {
              if (spans[i].textContent == 'Sữa') {
                arr_data.push('<%=result[i].milk.milk_size_l%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Sữa bột') {
                arr_data.push('<%=result[i].milk_powder.milk_powder_size_l%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Đường') {
                arr_data.push('<%=result[i].sugar.sugar_size_l%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == '<%=result[i].more.more_name%>') {
                arr_data.push('<%=result[i].more.more_size_l%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Nước nóng') {
                arr_data.push('<%=result[i].hot_water.hot_water_size_l%>');
                correct_name.push(spans[i].textContent);
              } else if (spans[i].textContent == 'Trà') {
                arr_data.push('<%=result[i].tea.tea_size_l%>');
                correct_name.push(spans[i].textContent);
              }
            }
            for (let i = 0; i < count_field; i++) {
              if ((i < ps.length) && (arr_data[i] == ps[i].textContent)) {
                mark++;
              }
            }
            if (confirm('Are you sure to check?')) {
              resultFunc(correct_name, mark, count_field);
            }
          }
        }
        // <% } %>
      }
    }
    function resultFunc(correct_name, mark, count_field) {
      let score = (mark / count_field) * 100;
      
      document.getElementById('correct_percent').innerText = score.toFixed(2);
      $(document).ready(function () {
        $('#modalResult').modal('show');
      });
    }
  </script>
  <script type="text/javascript">
    $(window).on('load', function () {
      $('#modalSelect').modal('show');
    });
  </script>
  
</body>

</html>